/* 

    RESET 

*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* 

    GENERAL 

*/

.container{
    max-width: 73.125rem;
    margin: 0 auto;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
    text-align: center;
}
.box{
    width: 100%;
    padding: .9375rem;
    background-color: #006cfa;
    color: white;
}
.box2{
    width: 100%;
    padding: .625rem;
    background-color: #00e165;
    color: black;
    
}